@font-face {
    font-family: 'Caslon Antique';
    src: url('../fonts/CaslonAntique.woff2') format('woff2'),
        url('../fonts/CaslonAntique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caslon Antique';
    src: url('../fonts/CaslonAntique-BoldItalic.woff2') format('woff2'),
        url('../fonts/CaslonAntique-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Caslon Antique';
    src: url('../fonts/CaslonAntique-Italic.woff2') format('woff2'),
        url('../fonts/CaslonAntique-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Caslon Antique';
    src: url('../fonts/CaslonAntique-Bold.woff2') format('woff2'),
        url('../fonts/CaslonAntique-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.title {
  text-align: center;
  font-size: 48pt;
  margin-bottom: 0;
  padding-bottom: .2em;
  font-family: 'Caslon Antique';
  font-weight: bold;
  font-style: normal;
  color: #ff1616;
}

.subtitle {
  padding: .2em;
  margin: .2em;
  font-weight: normal;
  font-style: normal;
}

.date {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 32pt;
  font-family: 'Caslon Antique';
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Caslon Antique';
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

h1 {
  color: #ff1616;
}

.main {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.button {
  /* background-color: #83f442; */
  background-color: #ff1616;
  padding: .8em;
  display: inline-block;
  width: 180px;
  text-align: center;
  text-decoration: none;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  font-family: 'Caslon Antique';
  font-weight: bold;
  font-style: normal;
  font-size: 24pt;
  color: white;
}

.tickets {
  text-align: center;
}

.schedule {
  text-align: center;
}

.schedule-date {
  font-weight: bold;
  font-style: normal;
}

address {
  text-align: center;
}

body {
  margin-top: 10%;
  margin-bottom: 10%;
  /* color: white; */
  /* background-color: #171621; */
  /* background-color: #4f5156; */
}
